
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Item> Items = ViewBag.Items;
    List<Store> Stores = ViewBag.Stores;
}
<div class="d-block">
    <h3>Select Store</h3>
    <div class="d-inline">
        <select class="form-select btn btn-outline-primary w-75" id="StoreId" onchange="updateStoreIcon(this)">
            <option data-Icon="Store/Store.webp" value="-1">Store</option>
            @foreach (var s in Stores)
            {
                <option data-Icon="@s.Icon" value="@s.StoreId">@s.Name</option>
            }
        </select>
        <img id="storeIcon" src="/Images/Store/Store.webp" height="100px" width="140px" />
    </div>
</div>


<div class="d-block">
    <h3>Select Item</h3>
    <div class="d-inline">
        <select class="form-select btn btn-outline-primary w-75" id="ItemId" onchange="updateItemIcon(this)">
            <option data-Icon="Item/Item.webp" value="-1">Item</option>
            @foreach (var s in Items)
            {
                <option data-Icon="@s.Icon" value="@s.ItemId">@s.Name</option>
            }
        </select>
        <img id="ItemIcon" src="/Images/Item/Item.webp" height="100px" width="140px" />
    </div>
</div>


<div class="d-block">
    <div class="m-2 d-flex">
        <h3>Quantity in Stock:</h3>
        <input class="form-text text-center m-1 text-black-50 disabled" id="oldQuantity" value="0" disabled />
        <div id="spinnerQuantity" style="display:none" class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
<hr />
<div class="d-flex">
    <div class="d-block m-4 w-75 border-success border-1">
        <div class="m-2 d-flex">
            <h3>Add To Stock:</h3>
            <input type="number" min="1" id="NewQuantity" class="form-floating text-center" />
            <div id="spinnerAddQuantity" style="display:none" class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <button type="button" onclick="AddQuantity()" class="btn btn-outline-primary">Add</button>
    </div>
    
    <div class="w-25 border-danger border-1">
        <div class="m-2 d-flex">
            <h3>Delte From Stock</h3>
         </div>
        <button type="button" id="removeStockBtn" onclick="RemoveStock()" disabled class="btn btn-outline-danger">Delete</button>
    </div>
</div>
@section Scripts
{
    <script src="~/js/StockCon.js"></script>
}
